.chatWithPageExtension {
  &-chat__container {
    display: flex;
    flex-wrap: wrap;
  }
  &-chat__messageItem {
    width: 100%;
    display: flex;
  }
  &-chat__message {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #dfe1e5;
    margin-bottom: 16px;
    max-width: 100%;
    word-wrap: break-word;
  }
  &-chat__messageItem--left {
    justify-content: flex-start;
  }
  &-chat__messageItem--right {
    justify-content: flex-end;
  }
}
